/* start global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end global  */

/* start variable  */
:root{
    --main-color:#84D7E9;
    --main-tras:.5s;
}
/* end variable  */

.container {

   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

/* start header */
.header{
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 60px 0;
}
.header .parent{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 30px;
    position: relative;
}

.header .parent .child{
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 10px;
    transition: var(--main-tras);
    cursor: pointer;
}
.header .parent .child:hover{
    transform: scale(1.1);
}
.header .parent .child h3{
    padding: 20px 0;
    background: var(--main-color);
    border-radius: 10px 10px 0 0;
}
.header .parent .child h2{
    padding: 25px 0;
    font-size: 30px;
}
.header .parent .child p{
    color: #333;
    margin-bottom: 60px;
}
.header .parent .child .bars{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .parent .child .bars span{
    display: block;
    height: 4px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}
.header .parent .child .bars span:first-child{
    width: 70%;
}

.header .parent .child .bars span:nth-child(2){
    width: 80%;
}
.header .parent .child .bars span:nth-child(3){
    width: 70%;
}
.header .parent .child .bars span:nth-child(4){
    width: 80%;
}
.header .parent .child .bars span:last-child{
    width: 70%;
}

.header .content {
    margin-top: 50px;
    padding: 50px 0 ;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: 100%;
}

.header .content div{
    width: 90%;
    height: 5px;
    background-color: #f0f0f0;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}
.header .content div::before{
    content: attr(data-nameL);
    position: absolute;
    left: 0;
    top: -18px;
    font-weight: bold;
    letter-spacing: -1px;
}
.header .content div::after{
    content: attr(data-nameR);
    position: absolute;
    right: 0;
    top: -18px;
    font-weight: bold;
    letter-spacing: -1px;
}
.header .content div .over-lay{
    width:0;
    height: 100%;
    background-color: var(--main-color);
    margin: 0;
    transition: var(--main-tras);
}

.header .parent .child:first-child:hover ~ .content div .over-lay{
    width: 5%;
}
.header .parent .child:nth-child(2):hover ~ .content div .over-lay{
    width: 30%;
}
.header .parent .child:nth-child(2):hover ~ .content div .center{
    width: 50%;
}
.header .parent .child:nth-child(3):hover ~ .content div .over-lay{
    width: 100%;
}

/* end parent */